.table-container {
    width: 100%;
    overflow: auto;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    
    thead, tbody {
      display: block;
    }
  
    thead {
      tr {
        display: flex;
        position: relative;
        z-index: 2;
      }
      
      th {
        background-color: #f2f2f2; // Light grey background
        font-weight: bold;
        text-align: center;
        padding: 8px;
        border: 1px solid #ddd;
        position: sticky;
        top: 0;
        z-index: 2;
        white-space: nowrap;
        width: 220px;
      }
  
      th:first-child {
        left: 0;
        padding-left: 13rem;
        z-index: 3;
      }
    }
  
    tbody {
      tr {
        display: flex;
      }
      
      td {
        width: 212px; // Adjust width as needed
        text-align: left;
        padding: 12px;
        border: 1px solid #ddd;
        background-color: #fff;

        .numCell{
          display: flex;
          flex-direction: column;
          border: 1px solid #a5a5a5;

          span{
            border-bottom: 1px solid #a5a5a5;
            text-align: right;
          }
        }
      }
      
      tr td:first-child {
        position: sticky;
        left: 0;
        padding-left: 18px;
        width: 406px;
        background-color: #f2f2f2; // Background color for the sticky column
        z-index: 1;
        display: flex;
        justify-content: space-between;

        .rightRd{
          display: flex;
          flex-direction: column;
        }

      }
    }
  }
  
  